####Assignment 1: https://colab.research.google.com/drive/1ImVSYicbA9WbEdKy7_NS5qjWqWDEZ4Jz?usp=share_link

##Assignment 2

In [ ]:
import numpy as np
import pandas as pd

###Task 1: Read the dataset and do data pre-processing

In [ ]:
#Read the dataset
df = pd.read_csv('/content/drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [ ]:
# Handling missing values (if any)
df.dropna(inplace=True)

In [ ]:
# Finding unique category
df['Drug'].unique()

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [ ]:
# Finding the count of observations based on unique value
df['Drug'].value_counts()

DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [ ]:
#Checking data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [ ]:
#Encoding

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# Perform label encoding on categorical variables
df['Sex'] = le.fit_transform(df['Sex'])
df['BP'] = le.fit_transform(df['BP'])
df['Cholesterol'] = le.fit_transform(df['Cholesterol'])
df.head()

   Age  Sex  BP  Cholesterol  Na_to_K   Drug
0   23    0   0            0   25.355  DrugY
1   47    1   1            0   13.093  drugC
2   47    1   1            0   10.114  drugC
3   28    0   2            0    7.798  drugX
4   61    0   1            0   18.043  DrugY

In [ ]:
# Scaling numerical features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numeric_columns = ['Age', 'Na_to_K']
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

In [ ]:
# Splitting the data
# Step-1: Split dependent and in-dependent
x = df.drop('Drug', axis=1).values
y=df['Drug'].values

In [ ]:
# Step-2: Split training and testing data
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((160, 5), (40, 5), (160,), (40,))

In [ ]:
#ytrain=le.fit_transform(ytrain)
#ytest=le.transform(ytest)

### Task 2: Build the ANN model with (input layer, min 3 hidden layers & output layer)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the model architecture
model = Sequential()
model.add(Dense(32, activation='relu', input_dim=xtrain.shape[1]))
model.add(Dense(64, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(5, activation='softmax'))  # 5 classes for drug types

In [ ]:
# Compile the model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [ ]:
# Print the model summary
print(model.summary())

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 32)                192

 dense_17 (Dense)            (None, 64)                2112

 dense_18 (Dense)            (None, 64)                4160

 dense_19 (Dense)            (None, 5)                 325

=================================================================
Total params: 6,789
Trainable params: 6,789
Non-trainable params: 0
_________________________________________________________________
None

###Task 3: Test the model with random data

In [ ]:
# Generate random input data
random_input = np.random.rand(1, xtrain.shape[1])

# Make predictions on the random data
predictions = model.predict(random_input)

# Decode the predicted class
predicted_class = np.argmax(predictions)
print('Predicted Drug Class:', predicted_class)

WARNING:tensorflow:5 out of the last 6 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f78b56fc8b0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

1/1 [==============================] - 0s 83ms/step
Predicted Class: 1